body {
  background-color: rgb(238, 237, 237);
}
/* About Me Container */
.aboutMeContainer {
  position: absolute;
  display: flex;
  top: 43%;
  left: 40%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  /* height: 22%;
  width: 45%; */
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
}
/* Name Intro */
.nameIntro {
  position: absolute;
  top: 36%;
  left: 40%;
  font-family: 'Montserrat';
  /* font-size: 1.5em; */
}


/* About Me Intro */
.aboutMeIntro {
  position: absolute;
  left: 40%;
  top: 32%;
  font-family: 'Montserrat';
  /* font-size: 1.5em; */
}


/* About Me Body */
.aboutMeBody {
  position: absolute;
  top: 5%;
  left: 2%;
  font-family: 'Montserrat';
  /* font-size: 1.3em;
  width: 95%; */
  text-align: left;
 
}

/* Personal Photo */
.selfPhoto {
  /* height: 22em;
  width: 22em; */
  border-radius: 10px;
  position: absolute;
  bottom: 65%;
  left: 10%;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
  .aboutMeContainer{
    top: 105%;
    left: 15%;
    height: 45%;
    width: 75%;
  }
  .nameIntro{
    font-size: 1em;
    width: 110%;
    top: 60%;
    left: 5%;
  }
  .aboutMeIntro{
    font-size: 1em;
    top: 100%;
    left: 37%;
  }
  .aboutMeBody {
    position: absolute;
    top: 0%;
    left: 2%;
    font-family: 'Montserrat';
    /* font-size: 1.3em;
    width: 95%; */
    text-align: left;
  }
  .selfPhoto {
  height: 15em;
  width: 15em;
  left: 5%;
  top: 20%;
  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.  */
@media (min-width:481px)  { 

}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 

}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 

 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .aboutMeContainer{
    height: 37%;
    width: 45%;
    top: 105%;
    left: 30%;
  }
  .nameIntro {
    font-size: 1.5em;
    top: 48%;
    left: 48%;
  }
  .aboutMeIntro {
    font-size: 1.5em;
    left: 30%;
    top: 97%;
    z-index: 1;
  }
  .aboutMeBody {
    font-size: 1.3em;
    width: 95%;
    top: 1%;
  }
  .selfPhoto{
  height: 22em;
  width: 22em;
  top: 30%;
  left: 18%
  }
 }

/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .aboutMeContainer{
    height: 22%;
    width: 45%;
    top: 105%;
    left: 30%;
  }
  .nameIntro {
    font-size: 1.5em;
    top: 43%;
    left: 45%;
  }
  .aboutMeIntro {
    font-size: 1.5em;
    left: 30%;
    top: 99%;
    z-index: 1;
  }
  .aboutMeBody {
    font-size: 1.3em;
    width: 95%;
    top: 1%;
  }
  .selfPhoto{
  height: 22em;
  width: 22em;
  top: 30%;
  left: 25%
  }
 }