/* About Me Container */
.aboutMeContainer {
  position: absolute;
  display: flex;
  top: 43%;
  left: 40%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  height: 22%;
  width: 45%;
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
}
/* Name Intro */
.nameIntro {
  position: absolute;
  top: 36%;
  left: 40%;
  font-family: 'Montserrat';
  font-size: 1.5em;
}


/* About Me Intro */
.aboutMeIntro {
  position: absolute;
  left: 40%;
  top: 32%;
  font-family: 'Montserrat';
  font-size: 1.5em;
}


/* About Me Body */
.aboutMeBody {
  position: absolute;
  top: 5%;
  left: 2%;
  font-family: 'Montserrat';
  font-size: 1.3em;
  text-align: left;
  width: 95%;
}

/* Personal Photo */
.selfPhoto {
  height: 22em;
  width: 22em;
  border-radius: 10px;
  position: absolute;
  bottom: 35%;
  left: 18%;
}

/* Media Queries */

@media (min-width: 300px) {
  .aboutMeContainer {
    height: 25%;
    width: 10%;
    font-size: .75em;
  }
  .nameIntro {

  }
  .aboutMeIntro {

  }
  .aboutMeBody {

  }
  .selfPhoto {

  }
}