/* About Me Container */
.aboutMeContainer {
   position: absolute;
  display: flex;
  top: 15%;
  left: 35%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  height: 30%;
  width: 45%;
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
}
/* Name Intro */
.nameIntro {
  position: absolute;
  top: 8%;
  left: 2%;
  font-family: 'Montserrat';
  font-size: 1.5em;
}


/* About Me Intro */
.aboutMeIntro {
  position: absolute;
  top: -5%;
  left: 2%;
  font-family: 'Montserrat';
  font-size: 1.5em;
}


/* About Me Body */
.aboutMeBody {
  position: absolute;
  top: 40%;
  left: 2%;
  font-family: 'Montserrat';
  font-size: 1.3em;
  text-align: left;
  width: 95%;
}
