@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Contact Header */
.contactHeader {
  position: absolute;
  z-index: 2;
  font-size: 2em;
  font-family: 'Montserrat';
  top: 250%;
  left: 43%;
}

/* Contact Form Container */
.formContainer {
  position: absolute;
  display: flex;
  top: 255%;
  left: 35%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  height: 50%;
  width: 30%;
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
}

/* Name and Email Inputs */
.input {
  width: 50%;
  height: 50px;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
 position: relative;
 left: 20%;
}

/* Message Text Area */
.textArea {
  resize: none;
  position: relative;
  width: 50%;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
  position: relative;
 left: 20%;
}

/* Contact Form Submit Button */
.submitButton {
  background-color: transparent;
  position: relative;
  height: 10%;
  width: 15%;
  border-width: 1px;
  border-color: #28c2ff;
  border-radius: 15px;
  font-size: 1.3em;
  color: white;
  background-color: #28c2ff;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 250ms;
  position: relative;
 left: 40%;
}

.submitButton:hover {
  transform: scale(1.1);
  background-color: #08a4e2;
  border-color: #08a4e2;
  transition-duration: 300ms;
}
