@import url('https://fonts.googleapis.com/css?family=Montserrat');



/* Contact Header */
.contactHeader {
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  font-family: 'Montserrat';
  top: 265%;
  left: 36%;
}

/* Contact Form Container */
.formContainer {
  position: absolute;
  display: flex;
  /* top: 270%;
  left: 35%; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 30%;
  background-color: rgb(247, 247, 247);
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
}

/* Name and Email Inputs */
.input {
  width: 50%;
  height: 50px;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
  position: relative;
  left: 20%;
}

/* Message Text Area */
.textArea {
  resize: none;
  position: relative;
  width: 50%;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
  position: relative;
  left: 20%;
}

/* Contact Form Submit Button */
.submitButton {
  background-color: transparent;
  position: relative;
  height: 10%;
  width: 15%;
  border-width: 1px;
  border-color: #28c2ff;
  border-radius: 15px;
  font-size: 1.3em;
  color: white;
  background-color: #28c2ff;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 250ms;
  position: relative;
  left: 40%;
  top: 5%;
}

.submitButton:hover {
  transform: scale(1.1);
  background-color: #08a4e2;
  border-color: #08a4e2;
  transition-duration: 300ms;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
  .contactHeader {
    top: 375%;
    left: 35%;
  }
  .formContainer {
    top: 380%;
    left: 35%;
    height: 40%;
    width: 30%;
  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
  .contactHeader {

  }
  .formContainer {

  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .contactHeader {

  }
  .formContainer {

  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .contactHeader {

  }
  .formContainer {

  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .contactHeader {

  }
  .formContainer {

  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .contactHeader {
    top: 375%;
    left: 35%;
  }
  .formContainer {
    top: 380%;
    left: 35%;
    height: 40%;
    width: 30%;
  }
  .input {

  }
  .textArea {

  }
  .submitButton {

  }

 }