@import url('https://fonts.googleapis.com/css?family=Montserrat');

.contactHeader {
  position: absolute;
  z-index: 2;
  font-size: 26px;
  font-family: 'Montserrat';
}

/* Contact Form Container */

.formContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: left;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  height: 420px;
  width: 700px;
  background-color: white;
  border-radius: 10px;
}

/* Name and Email Inputs */
.input {
  width: 50%;
  height: 50px;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
}

/* Message Text Area */
.textArea {
  resize: none;
  position: relative;
  width: 50%;
  font-family: 'Montserrat';
  border-color: rgb(173, 173, 173);
  border-radius: 5px;
  border-width: 1px;
}

/* Contact Form Submit Button */
.submitButton {
  background-color: transparent;
  position: relative;
  height: 10%;
  width: 15%;
  border-width: 1px;
  border-color: #28c2ff;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  background-color: #28c2ff;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 250ms;
}

.submitButton:hover {
  transform: scale(1.1);
  background-color: #08a4e2;
  border-color: #08a4e2;
  transition-duration: 300ms;
}
