
/* LinkedIn Icon */
.linkedInIcon {
  position: absolute;
  left: 75%;
  top: 18%;
  display: flex;
  border: none;
  background: none;
  font-size: 2.5em;
  cursor: pointer;
  transition: 500ms;
}

.linkedInIcon:hover {
  transform: scale(1.1);
  cursor: pointer;
  border: none;
  background: none;
}

/* GitHub Icon */
.gitHubIcon {
  position: absolute;
  left: 95%;
  top: 10%;
  font-size: 2.5rem;
  color: #28c2ff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.gitHubIcon:hover {
  transform: scale(1.1);
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
  .linkedInIcon {
    left: 73.5%;
    top: 30%;
    font-size: 2.5rem;
  }
  .gitHubIcon {
    left: 73.5%;
    top: 40%;
    font-size: 2.5rem;
  }
  
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
 .linkedInIcon {
    
  }
  .gitHubIcon {

  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .linkedInIcon {
    left: 57%;
    top: 70.8%;
    height: 5%;
    width: 5%;
  }
  .gitHubIcon {
    left: 62%;
    top: 70.8%;
    height: 5%;
    width: 5%;
  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .linkedInIcon {
    left: 52%;
    top: 60.5%;
    height: 5%;
    width: 5%;
  }
  .gitHubIcon {
    left: 56%;
    top: 60.5%;
    height: 5%;
    width: 5%;
  }
 }