/* LinkedIn Icon */
.linkedInIcon {
  position: absolute;
  left: 2%;
  top: 3%;
  font-size: 2.5rem;
  color: #28c2ff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.linkedInIcon:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* GitHub Icon */
.gitHubIcon {
  position: absolute;
  left: 2%;
  top: 10%;
  font-size: 2.5rem;
  color: #28c2ff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.gitHubIcon:hover {
  transform: scale(1.1);
  background: transparent;
  border: none;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
