/* LinkedIn Icon */
.linkedInIcon {
  position: fixed;
  left: 95%;
  top: 3%;
  font-size: 2.5rem;
  color: #28c2ff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.linkedInIcon:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* GitHub Icon */
.gitHubIcon {
  position: fixed;
  left: 95%;
  top: 10%;
  font-size: 2.5rem;
  color: #28c2ff;
  cursor: pointer;
  transition-duration: 0.5s;
}

.gitHubIcon:hover {
  transform: scale(1.1);
  background: transparent;
  border: none;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
  .linkedInIcon {

  }
  .gitHubIcon {

  }
  
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
 .linkedInIcon {
    
  }
  .gitHubIcon {

  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .linkedInIcon {
    
  }
  .gitHubIcon {

  }
 }