/* Projects Header */
.projectsHeader {
  background-color: transparent;
  position: absolute;

  color: black;
  font-family: 'Montserrat';
 
}

/* Project Container */
.projectContainer {
  position: absolute;
  top: 160%;
  left: 28.5%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-radius: 1%;
  width: 800px;
  height: 800px;
  background-color: rgb(248, 248, 248);
  box-shadow: 5px 5px 15px 4px rgba(0,0,0,0.05);
}

/* MealItYourWay Content*/
.mealPhoto {
  position: relative;
  border: solid;
  border-color: rgb(219, 219, 219);
  border-width: 1px;
  border-radius: 1%;
  padding: 2px;
  left: 1.5em;
  top: 1.1em;
  font-size: .5em;
}

.mealProjectHeader {
  position: absolute;
  top: 28%;
  left: 35%;
  font-family: 'Montserrat';
  font-size: 1.2em;
  z-index: 1;
}

.mealProjectBody {
  position: absolute;
  top: 2%;
  left: 9%;
  font-family: 'Montserrat';
  font-size: .9em;
  border-color: rgb(219, 219, 219);
  border-style: solid;
  border-radius: 1%;
  border-width: thin;
  background-color: white;
  height: 45%;
  width: 80%;
}

.mealItSummary {
  position: relative;
  width: 45%;
  top: -55%;
  left: 35%;
  bottom: 135%;
  z-index: 1;
}

/* Google Clone Content */
.googleCloneProjectBody {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 9%;
  font-family: 'Montserrat';
  font-size: .9em;
  border-color: rgb(219, 219, 219);
  border-style: solid;
  border-radius: 1%;
  border-width: thin;
  background-color: white;
  height: 45%;
  width: 80%;
}

.googleCloneHeader {
  position: absolute;
  top: 27%;
  left: 7%;
  font-family: 'Montserrat';
  font-size: 1.2em;
}

.googleCloneSummary {
  position: relative;
  width: 45%;
  left: 7%;
  bottom: 55%;
  z-index: 1;
}


.googleClonePhoto {
  position: relative;
  border: solid;
  border-color: rgb(219, 219, 219);
  border-width: 1px;
  border-radius: 1%;
  padding: 2px;
  left: 46em;
  top: 1.2em;
  font-size: .5em;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:300px)  { 
.projectsHeader {
  left: 38%;
  height: 45px;
  top: 213%;
  font-size: 1.2em;
}
.projectContainer {
  top: 220%;
  width: 85%;
  left: 6%;
  background: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  height: 125%;
}
.mealPhoto {
  position: relative;
  border: solid;
  border-color: rgb(219, 219, 219);
  border-width: 1px;
  border-radius: 1%;
  padding: 2px;
  left: 2%;
  top: 15%;
  font-size: .5em;
}
.mealProjectHeader {
  top: -1%;
  left: 6%;
  width: 90%;
}
.mealProjectBody {
  position: absolute;
  top: 2%;
  left: 5%;
  font-family: 'Montserrat';
  font-size: .9em;
  border-color: rgb(219, 219, 219);
  border-style: solid;
  border-radius: 1%;
  border-width: thin;
  background-color: white;
  height: 42%;
  width: 90%;
}
.mealItSummary {
  position: relative;
  width: 45%;
  top: -74.5%;
  left: 55%;
  bottom: 135%;
  z-index: 1;
}
.googleCloneProjectBody {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 2%;
  font-family: 'Montserrat';
  font-size: .9em;
  border-color: rgb(219, 219, 219);
  border-style: solid;
  border-radius: 1%;
  border-width: thin;
  background-color: white;
  height: 45%;
  width: 95%;
}
.googleCloneHeader {
  top: -2%;
  left: 7.5%;
  background: none;
}
.googleCloneSummary {
  position: relative;
  width: 60%;
  left: 7.5%;
  bottom: 73%;
  z-index: 1;
}
.googleClonePhoto {
  left: 8%;
  top: 20%;
  background: none;
}
.googleGitHubLink {
  position: absolute;
  top: 14.5%;
  left: 78.5%;
}
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
.projectsHeader {

}
.projectContainer {

}
.mealPhoto {

}
.mealProjectHeader {

}
.mealProjectBody {

}
.mealItSummary {

}
.googleCloneProjectBody {

}
.googleCloneHeader {

}
.googleCloneSummary {

}
.googleClonePhoto {
  
}
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .projectsHeader {

  }
  .projectContainer {
  
  }
  .mealPhoto {
  
  }
  .mealProjectHeader {
  
  }
  .mealProjectBody {
  
  }
  .mealItSummary {
  
  }
  .googleCloneProjectBody {
  
  }
  .googleCloneHeader {
  
  }
  .googleCloneSummary {
  
  }
  .googleClonePhoto {
    
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .projectsHeader {
    left: 18%;
    height: 45px;
    width: 6.5%;
    top: 238%;
    font-size: 1.5em;
  }
  .projectContainer {
    top: 245%;
    left: 18%;
    width: 800px;
    height: 800px;
    background-color: rgb(255, 255, 255);
  }
  .mealPhoto {
    position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
  }
  .mealProjectHeader {
    position: absolute;
    top: 28%;
    left: 35%;
    font-family: 'Montserrat';
    font-size: 1.2em;
    z-index: 1;
  }
  .mealProjectBody {
    
  }
  .mealItSummary {
  position: absolute;
  width: 45%;
  top: -55%;
  left: 37%;
  bottom: 135%;
  z-index: 1;
  }
  .googleCloneProjectBody {
  
  }
  .googleCloneHeader {
  
  }
  .googleCloneSummary {
  
  }
  .googleClonePhoto {
 position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    background-color: white;
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .projectsHeader {
    left: 18%;
    height: 45px;
    width: 6.5%;
    top: 230%;
    font-size: 1.5em;
  }
  .projectContainer {
    top: 237%;
    left: 18%;
    width: 800px;
    height: 800px;
    background-color: rgb(255, 255, 255);
  }
  .mealPhoto {
    position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
    width: 28%;
    height: 93%;
  }
  .mealProjectHeader {
    position: absolute;
    top: 28%;
    left: 42%;
    font-family: 'Montserrat';
    font-size: 1.2em;
    z-index: 1;
  }
  .mealProjectBody {
    
  }
  .mealItSummary {
  position: absolute;
  width: 45%;
  top: 40%;
  left: 42%;
  bottom: 135%;
  z-index: 1;
  }
  .googleCloneProjectBody {
  
  }
  .googleCloneHeader {
    position: absolute;
    top: 27%;
    left: 52%;
    font-family: 'Montserrat';
    font-size: 1.2em;
  }
  .googleCloneSummary {
    position: relative;
    width: 45%;
    left: 52%;
    bottom: 55%;
    z-index: 1;
  }
  .googleClonePhoto {
  position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    background-color: white;
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
  }
  .googleGitHubLink {
    position: absolute;
    top: 60%;
    left: 52%;
  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .projectsHeader {
    left: 30%;
    height: 45px;
    width: 6.5%;
    top: 239%;
    font-size: 1.5em;
  }
  .projectContainer {
    top: 245%;
    left:30%;
    width: 800px;
    height: 800px;
    background-color: rgb(255, 255, 255);
  }
  .mealPhoto {
    position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
  }
  .mealProjectHeader {
    position: absolute;
    top: 28%;
    left: 35%;
    font-family: 'Montserrat';
    font-size: 1.2em;
    z-index: 1;
  }
  .mealProjectBody {
    
  }
  .mealItSummary {
  position: absolute;
  width: 45%;
  top: 42%;
  left: 35%;
  bottom: 135%;
  z-index: 1;
  }
  .googleCloneProjectBody {
  
  }
  .googleCloneHeader {
    position: absolute;
    top: 27%;
    left: 45%;
    font-family: 'Montserrat';
    font-size: 1.2em;
  }
  .googleCloneSummary {
    position: relative;
    width: 45%;
    left: 45%;
    bottom: 50%;
    z-index: 1;
  }
  .googleClonePhoto {
  position: relative;
    border: solid;
    border-color: rgb(219, 219, 219);
    background-color: white;
    border-width: 1px;
    border-radius: 1%;
    padding: 2px;
    left: 1.5em;
    top: 1.1em;
    font-size: .5em;
  }
  .googleGitHubLink {
    position: absolute;
    top: 60%;
    left: 45%;
  }
 }