/* Resume Download Button */
.downloadBtn {
  background-color: transparent;
  position: fixed;
  left: 94%;
  top: 18%;
  height: 5%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28C2FF;
  border-color: #28C2FF;
  border-width: 0;
  border-radius: 5%;
  font-size: 15px;
  color: white;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 500ms;
}

.downloadBtn:hover {
  transform: scale(1.1);
  background-color: #08a4e2;
  border-color: #08a4e2;
  transition-duration: 300ms;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
.downloadBtn {
  left: 94%;
  top: 18%;
  height: 5%;
  width: 5%;
  position: absolute;
}
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
.downloadBtn {
  
}
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .downloadBtn {
  
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .downloadBtn {
  
  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  .downloadBtn {
  
  }
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .downloadBtn {
    left: 45%;
    top: 60%;
    height: 5%;
    width: 5%;
  }
 }