/* Resume Download Button */
.downloadBtn {
  background-color: transparent;
  position: fixed;
  left: 94%;
  top: 18%;
  height: 5%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28C2FF;
  border-color: #28C2FF;
  border-width: 0;
  border-radius: 5%;
  font-size: 15px;
  color: white;
  font-family: 'Montserrat';
  cursor: pointer;
  transition: 500ms;
}

.downloadBtn:hover {
  transform: scale(1.1);
  background-color: #08a4e2;
  border-color: #08a4e2;
  transition-duration: 300ms;
}
