@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Tool Belt Header */
.toolBeltHeader {
  position: absolute;
  top: 105%;
  left: 43%;
  z-index: 1;
  font-family: 'Montserrat';
}

/* Tool Belt Container */
.toolBeltIcons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3.5em;
  gap: 7%;
  position: absolute;
  top: 105%;
  border: solid;
  padding: 4%;
  border-color: rgb(247, 247, 247);
  border-radius: 10px;
  left: 32%;
  background-color: rgb(247, 247, 247);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
}


/* Individual Icons */
.htmlIcon {
   border-style: solid;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

.cssIcon {
  border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

.jsIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

.nodeIcon {
  border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

.reactIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

.gitIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
}

