@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Tool Belt Header */
.toolBeltHeader {
  position: absolute;
  top: 98%;
  left: 36%;
  z-index: 1;
  font-size: 1.5em;
  font-family: 'Montserrat';
}

/* Tool Belt Container */
.toolBeltContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3.5em;
  gap: 7%;
  position: absolute;
  top: 104%;
  border: solid;
  padding: 4%;
  border-color: rgb(247, 247, 247);
  border-radius: 2%;
  left: 35%;
  background-color: rgb(247, 247, 247);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.05);
}


/* Individual Icons | Hover Class is Below Icon */
.htmlIcon {
   border-style: solid;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: rgb(255, 115, 0);
}

.htmlIcon:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.cssIcon {
  border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: blue;
}

.cssIcon:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.jsIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: rgb(243, 243, 1);
  
}

.jsIcon:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.nodeIcon {
  border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: rgb(115, 197, 82);
}

.nodeIcon:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.reactIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: rgb(0, 217, 255);
}

.reactIcon:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

.gitIcon {
   border-style: solid;
   background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 5%;
  border-width: 1px;
  transition: 400ms;
  height: 1.1em;
  width: 1.0em;
  margin-bottom: 2%;
  color: rgb(255, 72, 0);
}

.gitIcon:hover{
  transform: scale(1.1);
  box-shadow: 5px 5px 15px -7px #000000;
}

/* Media Queries */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (max-width:320px)  { 
  .toolBeltHeader {
    font-size: 1em;
    top: 165%;
    left: 36%;
    z-index: 1;
  }
  .toolBeltContainer {
    top: 170%;
    left: 10%;
    z-index: 1;
    font-size: 2em;
  }
  .htmlIcon {

  }
  .cssIcon {

  }
  .jsIcon {

  }
  .nodeIcon {

  }
  .reactIcon {

  }
  .gitIcon {

  }
  
}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:481px)  { 
 .toolBeltHeader {

  }
  .toolBeltContainer {

  }
  .htmlIcon {

  }
  .cssIcon {

  }
  .jsIcon {

  }
  .nodeIcon {

  }
  .reactIcon {

  }
  .gitIcon {
    
  }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:641px)  { 
  .toolBeltHeader {

  }
  .toolBeltContainer {

  }
  .htmlIcon {

  }
  .cssIcon {

  }
  .jsIcon {

  }
  .nodeIcon {

  }
  .reactIcon {

  }
  .gitIcon {
    
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
  .toolBeltHeader {
   
  }
  .toolBeltContainer {
   
  }
  .htmlIcon {

  }
  .cssIcon {

  }
  .jsIcon {

  }
  .nodeIcon {

  }
  .reactIcon {

  }
  .gitIcon {
    
  }
 }
 /* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
  
}
/* hi-res laptops and desktops */
@media (min-width:1281px) { 
  .toolBeltHeader {
    top: 159%;
    left: 36%;
    z-index: 1;
    font-size: 1.5em;
  }
  .toolBeltContainer {
    font-size: 3.5em;
    gap: 7%;
    position: absolute;
    top: 165%;
    border: solid;
    padding: 4%;
    border-color: rgb(247, 247, 247);
    border-radius: 2%;
    left: 35%;
  }
  .htmlIcon {
    height: 1.1em;
    width: 1.0em;
  }
  .cssIcon {
    height: 1.1em;
    width: 1.0em;
  }
  .jsIcon {
    height: 1.1em;
    width: 1.0em;
  }
  .nodeIcon {
    height: 1.1em;
    width: 1.0em;
  }
  .reactIcon {
    height: 1.1em;
    width: 1.0em;
  }
  .gitIcon {
    height: 1.1em;
    width: 1.0em;
  }
 }